block value
include ../_config
doctype html
html(lang="ja")
  head
    include ../head/_meta
    include ../head/_favicon
    include ../head/_stylesheet
    include ../gtm/_gtmHeadTag
    


  body
    include ../gtm/_gtmBodyTag

    block header

    block visual

    block section

    block footer
  include ../script/_script.pug