- const cssPath = path + "/assets/css/";
- const jsPath = path + "/assets/js/";
- const imgPath = path + "/assets/img/";
- const domain = "https://www.sample.com/"
- const gtmId = 'GTM-A4B4CDE';
- const ogImage = domain + ogImageUrl
- const twitterDomain = "domainName"
- const facebookAdmins = "7777777777777777"
- const facebookAppId = "88888888888888888"

include mixin/_picture