section.section section 
.container 
  p テキストテキストテキストテキストテキストテキスト
  p テキストテキストテキストテキストテキストテキスト
  p テキストテキストテキストテキストテキストテキスト
  ul 
    li アイテム
    li アイテム
    li アイテム
    li アイテム
    
include ../component/_accordion
  