extend components/page/_default
append value
  - const title = "トップページのタイトル | Site Name";
  - const description = "トップページのディスクリプション";
  - const keywords = "キーワード,キーワード2,キーワード3";
  - const path = ".";
  - const location = "top";
  - const ogImageUrl = "img/og,jpg";

block header
  include components/layout/_header

block visual
  .main-visual.is-top
    .main-visual__content
    .main-visual__text トップページ

block section
  include ./components/project/_top
  .section
    .inner
      h2.section__title セクション
      .section__lead Section
        .section__body
          p トップページのコンテンツが入ります。
      .img__content
        +picture("class名", "img1", "jpg", "img1の説明")
      .img__content
        +img("class名", "img2", "jpg", "img2の説明")
      .img__content
        +img("", "img3", "jpg", "")

block footer
  include components/layout/_footer