@use "../global" as g;
.c-section-title {
  font-size: 2.4rem;
  text-align: center;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: -13px;
    width: 64px;
    height: 1px;
    background-color: g.$main-color;
  }
  span {
    display: inline-block;
    font-size: 1.6rem;
    display: block;
  }
}