@use "../global" as g;
.p-main-view {
  position: relative;
  background: url(../../assets/img/top-image.jpg) center center / cover no-repeat;
  height: 100vh;
  width: 100%;
  &__content {
    
    color: #fff;
    display: inline-block;
    position: absolute;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  &__title {
    font-size: 5.6rem;
    text-shadow: 0 0 30.4px #333;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 3.6rem;
    border-bottom: 1px solid #fff;
    text-shadow: 0 0 30.4px #333;
    padding-right: 200px;
    white-space: nowrap;
    padding-bottom: 20px;
  }
}